*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/compiler.xml
/.idea/misc.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_10_22,_4_58_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_10_02_23__12_27_AM__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_10_22__4_58_PM__Changes_.xml
